.order-project .item{
	height: 100px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	margin-left: 10px;
	margin-top: 10px;
	box-shadow: 0 1px 1px 0 #ccc;
	position: relative;
	padding: 7px 35px 7px 105px;
	display: table;
	width: 100%;
}
.order-project .item a{
	display: table;
	width: 100%;
	height: 100%;
}
.order-project .item h3 .name{
	font-size: 18px;
	font-weight: normal;
	margin-right: 5px;
}
.order-project .item h3 .level{
	font-size: 18px;
	font-weight: bold;
}
.order-project .item p{
	font-size: 13px;
	color: #6e7580;
	line-height: 20px;
	max-height: 40px;
	overflow: hidden;
}
.order-project .item .avatar{
	position: absolute;
	top: 7px;
	left: 7px;
	display: block;
	width: 86px;
	height: 86px;
	border-radius: 50%;
	overflow: hidden;
	background-image: url(../images/pet-avatar.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.order-project .item .text{
	display: table-cell;
	vertical-align: middle;
}
.order-project .item:after{
	position: absolute;
	top: 50%;
	right: 25px;
	content: "";
	display: block;
	margin-top: -12px;
	width: 24px;
	height: 24px;
	border: 2px solid #ccc;
	border-top-color: transparent;
	border-right-color: transparent;
	background-color: transparent;
	-webkit-transform: rotate(225deg);
	transform: rotate(225deg); 
}
.order-project .item:nth-of-type(odd){
	background-color: #e2f1fa;
}
.order-project .item:nth-of-type(odd):after{
	border-color: #a9daf9;
	border-top-color: transparent;
	border-right-color: transparent;
	background-color: transparent;
}
.order-project .item:nth-of-type(even){
	background-color: #fde1e8;
}
.order-project .item:nth-of-type(even):after{
	border-color: #fbc;
	border-top-color: transparent;
	border-right-color: transparent;
	background-color: transparent;
}