.select-time{
	position: relative;
	padding: 30px 30px 0;
}
.select-time .prev,.order-person .next{
	position: absolute;
	top: 44px;
	width: 20px;
	height: 32px;
	background-image: url(../images/icon.png);
	background-repeat: no-repeat;
	background-size: 100px;
}
.order-person .prev{
	background-position: -60px -140px;
	left: 10px;
}
.order-person .prev.disable{
	background-position: -60px -220px;
	left: 10px;
}
.order-person .next{
	background-position: -79px -140px;
	right: 8px;
}
.order-person .next.disable{
	background-position: -79px -220px;
	right: 8px;
}
.select-time .slider{
	width: 100%;
	height: 80px;
	overflow: hidden;
	position: relative;
}
.select-time .slider ul{
	width: 455px;
	position: absolute;
	left: 0;
}
.select-time .slider .item{
	float: left;
	width: 65px;
	text-align: center;
	position: relative;
	margin-bottom: 20px;
}
.select-time .slider .selected:after{
	position: absolute;
	bottom: -30px;
	left: 50%;
	margin-left: -10px;
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: 10px solid #36bcf7;
	border-top-color: transparent;
	border-right-color: transparent;
	background-color: transparent;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg); 
}
.select-time .slider .item .time{
	display: inline-block;
	width: 60px;
	height: 60px;
	text-align: center;
	border: 1px solid #0b98d6;
	background-color: #fff;
	border-radius: 50%;
	font-size: 14px;
	position: relative;
}
.select-time .slider .selected .time{
	background-color: #36bcf7;
	border-color: #36bcf7;
}
.select-time .slider .item .time:after{
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	content: "";
	height: 0;
	font-size: 0;
	overflow: hidden;
	border-top: 1px solid #0b98d6;
}
.select-time .slider .selected .time:after{
	border-color: #fff;
}
.select-time .slider .item .day{
	padding-top: 7px;
	height: 25px;
	line-height: 25px;
	color: #0b98d6;
}
.select-time .slider .item .week{
	padding-bottom: 7px;
	height: 25px;
	line-height: 25px;
	color: #0b98d6;
}
.select-time .slider .selected .time .day,.select-time .slider .selected .time .week{
	color: #fff;
}
.show-time{
	padding: 5px 10px;
	background-color: #36bcf7;
}
.show-time .item{
		float: left;
		width: 20%;
		padding: 2px;
	}
	.show-time .item span{
		border: 1px solid #1ca0da;
		background-color: #fff;
        border-radius: 5px;
        float: left;
        height: 40px;
        line-height: 38px;
        width: 100%;
        text-align: center;
        font-size: 18px;
        color: #333;
	}
	.show-time .item .checked{
        overflow: hidden;
        position: relative; 
	}
	.show-time .item .checked:after{
		content: "";
        width: 25px;
        height: 25px;
        position: absolute;
        right: -2px;
        bottom: -2px;
        background-image: url(../images/icon.png);
        background-repeat: no-repeat;
        background-size: 100px;
        background-position: -60px -110px;
	}
.form-list{
	padding-top: 40px;
}
.form-list .item{
	background: #fff;
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
	margin-bottom: 15px;
	padding: 15px;
	line-height: 30px;
	font-size: 18px;
}
.form-list .item input{
	display: inline-block;
	width: 100px;
	background-color: #f2f2f2;
	border-radius: 5px;
	margin: 0 10px;
}
.form-list .item .small{
	font-size: 14px;
	margin-left: 10px;
}
.padding{
	padding: 10px;
}